body {
	background-color: #fff;
	margin: auto;
	max-width: 100%;
	height: 100%;
}

.matrix {
	position: absolute;
	background-color: black;
	z-index: -9999999999;
	width: 100%;
	height: 100%;
}

header {
	text-align: center;
	z-index: -2
}


footer {
	background-color: gray;
	padding: 20px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 2;
}

.proyects_grid {
	background: black;
}

.proyects_grid {
	display: grid;
	gap: 20px;
	height: 450px;
	grid-template-areas: 
	"img1 img2 img3" 
	"img1 img2 img3" ;;
	margin: 10% 0 0 0;
	display: inline-flex;
	z-index: 2;
}


.proyects_item {
	position: relative;
	overflow: hidden ;
	width: 100%;
}

.proyects_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}


.proyects_hover{
	position: absolute;
	background: #5bc840;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	display: flex;
	flex: column;
	justify-content: center;
	transform: translateX(100%);
	cursor: pointer;
	transition: transform .3s ease-in-out;
}

.proyects_item:hover .proyects_hover {
	transform: translateX(0%);
}

.proyects_icon {
	margin-top: 10px;
	font-size: 30px;

}
