html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	font-size: 10px;
}

body {
	margin: auto;
	width: 100%;
	overflow-x: hidden;
}

header {
	text-align: center;
	z-index: -2
}

.links {
	text-decoration: none;
	color: #FFFFFF;
}

.matrix {
	background-color: black;
	margin-bottom: 0px;
	z-index: -9999999999;
	width: 100%;
}

a {
	text-decoration: none;
}

.contenedor {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#about .contenedor{
	min-height: 80vh;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.container {
	height: 500px;
	width: 100vw;
	padding-bottom: 60px;
	background-color: black;
}

.proyects_grid {
	background: black;
	margin-top: -20px;
	height: 100%;
}

.proyects_grid {
	display: grid;
	gap: 20px;
	grid-template-areas: 
	"img1 img2 img3" 
	"img1 img2 img3" ;;
	display: flex;
	z-index: 2;
}

.proyects_item {
	position: relative;
	overflow: hidden ;
	width: 100%;
}

.proyects_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	filter:grayscale(50%);
}

.proyects_hover{
	position: absolute;
	background-color: rgb(100,100,100, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	flex: column;
	transform: translateX(100%);
	cursor: pointer;
	transition: transform .3s ease-in-out;
}

.proyects_item:hover .proyects_hover {
	transform: translateX(0%);
}

.proyects_icon {
	margin-top: 10px;
	font-size: 30px;

}

#tituloinicio{
	position: absolute;
	font-size: 40px;
	padding: 20px;
	top:-20px;
	left: 0;
	color: #710101;
}

#autorinicio {
	position: absolute;
	font-weight: bold;
	font-size: 30px;
	bottom: 0;
	right: 20px;
	color: black;
}

.boton {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px #5bc840;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
	margin-left: -950px;
}

.boton:hover {
	color: white;
	background-color:#5bc840;
}

#nombre1 {
	background-image: url(img/Jamerhunt.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	line-height: 20px;
}
#nombre2 {
	background-image: url(img/Dewey.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	line-height: 20px;
}


#nombre1::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#nombre2::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#nombre1 .nombre {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#nombre2 .nombre {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
	justify-content: flex-start;
}

#nombre1 h1 {
	display: block;
	width: fit-content;
	font-size: 85px;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
	margin-left: -600px;
}

#nombre2 h1 {
	display: block;
	width: fit-content;
	font-size: 85px;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
	margin-left: -600px;
}

#nombre1 h1:nth-child(1) {
	animation-delay: 1s;
}

#nombre1 h1:nth-child(2) {
	animation-delay: 2s;
}

#nombre1 h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#nombre1 h1 span {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -20px;
	height: 340%;
	width: 0;
	background-color: #5bc840;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#nombre1 h1:nth-child(1) span {
	animation-delay: 0.5s;
}

#nombre1 h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#nombre1 h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#nombre2 h1:nth-child(1) {
	animation-delay: 1s;
}

#nombre2 h1:nth-child(2) {
	animation-delay: 2s;
}

#nombre2 h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#nombre2 h1 span {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -20px;
	height: 340%;
	width: 0;
	background-color: #5bc840;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#nombre2 h1:nth-child(1) span {
	animation-delay: 0.5s;
}

#nombre2 h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#nombre2 h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#about {
	margin-bottom: -40px;
}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}

#about .col-right {
	width: 100%;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
}

#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px #5bc840;
	z-index: -1;
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #5bc840;
		font-weight: 500;
	}
}
	h1.section-title {
		font-size: 80px;
		white-space: nowrap;
	}

	#nombre h1 {
		font-size: 7rem;
	}
	

	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px #5bc840;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}

footer {
	background-color: #5BC840;
	padding: 20px;
	width: 100%;
	text-align: center;
}

#icono {
	position: fixed;
	z-index: 4;
	font-size: 30px;
	margin: 10px;
	color:black;
	transition: color .2s ease;
}

#icono:hover {
	color: #5BC840;
	transition: color .2s ease;
}


